html {
   margin:0;padding:0;  
  }
  
  .container {
      /* center container */
       display: flex; 
      align-items: center;
      justify-content: center;
      margin-top:10vh;
      /* --------------- */ 
      
    }

.Calc {
    border: 6px solid blue;
    border-radius: 20px;
    width: 290px;
    height: 480px;
    
 }

 .N_Result {
        /*Display */
        display: flex;
        flex-wrap: wrap;
        width: 85%;
        height: 80px;
        border: 6px solid blue;
        border-radius: 12px;
        justify-content:right;
        margin-left: 15px;
        margin-top: 20px;

}

.keyboard {
    display:flex;
    flex-wrap: wrap; 
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-left: 20px;
    margin-top: 5px;
    
        
}

.keyboard_operators {
    border: 6px solid rgb(35, 92, 177);
   /* display:flex; */
    flex-wrap: wrap;  
    height: 40px;
    width: 30px; 
    margin-left: 75%;

}

.division, .multiplication, .substract, .addition {
    height: 60px;
    width: 60px;
    margin-left: 5px;
}

.equal {
    height: 60px;
    width: 129px;
    margin-left: 5px;

}

.keyboard_Numbers {
    height: 250px;
    width: 290px;
    margin-left: 5px;
}

.Button_AC, .Button_C, .on_off {
    height: 60px;
    width: 60px;
    margin-left: 15px;
    

}


.N_1, .N_2, .N_3, .N_4, .N_5, .N_6, .N_7, .N_8, .N_9, .N_0 {
    height: 60px;
    width: 60px;
    margin-left: 5px; 
    margin-top: 5px;
      
}


footer {
    display: flex; 
    align-items: center;
    justify-content: center;
       
}