html {
   margin:0;padding:0;  
   background-image: radial-gradient(rgb(136, 212, 241), rgb(25, 25, 65));
  }
  
  .container {
      /* center container */
       display: flex; 
      align-items: center;
      justify-content: center;
      margin-top:10vh;
      /* --------------- */ 
      
    }

.Calc {
    border: 6px solid blue;
    border-radius: 20px;
    width: 290px;
    height: 480px;

    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 5px 5px 15px 5px #000000;
    
 }

 .N_Result {
        /*Display */
       display: flex;
        flex-wrap: wrap; 
        width: 85%;
        height: 80px;
        border: 6px solid blue;
        border-radius: 12px;
        margin-left: 15px;
        margin-top: 20px;
        font-size: 50px;
        justify-content: flex-end;
        background-color: rgb(165, 238, 171,0.1);
      
}

.keyboard {
    display:flex;
    flex-wrap: wrap; 
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-left: 20px;
    margin-top: 5px;
    
        
}

.keyboard_operators {
    border: 6px solid rgb(35, 92, 177);
   /* display:flex; */
    flex-wrap: wrap;  
    height: 40px;
    width: 30px; 
    margin-left: 75%;

}

.division, .multiplication, .substract, .addition {
    height: 60px;
    width: 60px;
    margin-left: 5px;
}

.equal {
    height: 60px;
    width: 129px;
    margin-left: 5px;

}

.keyboard_Numbers {
    height: 250px;
    width: 290px;
    margin-left: 5px;
}

.Button_AC, .Button_C, .on_off {
    height: 60px;
    width: 60px;
    margin-left: 15px;
    

}


.N_1, .N_2, .N_3, .N_4, .N_5, .N_6, .N_7, .N_8, .N_9, .N_0 {
    height: 60px;
    width: 60px;
    margin-left: 5px; 
    margin-top: 5px;
    border-width: 04px;  
}


footer {
    display: flex; 
    justify-content: center;
       
}