/*  style.css */
.Container_Body{
display: flex;
}

.Container_Left {
background: url('lorenzo-herrera-p0j-mE6mGo4-unsplash.jpg') no-repeat ; 
width: 40%;
 height: 100vh;
 background-size:  100vh 100vh; 
 }

.O_Logo {
background-color: rgba(0, 0, 0, 0.0);
position: relative;
top: 18vh;
left: 8vw;
height: 10vh;
width: 10vh;
}

.Odin{
	/*position: relative;*/
	text-align: center;
top: -11vh;
left: 17%;
background-color: rgba(0, 0, 0, 0.7);
font-size: 100px;
color: white;
}

/*----------------------------------------*/
.Container_Right{
/*display: flex;*/
}

.Container_UP{
	width: 60vw;
background-color: #F9FAFB;
}

.Text_Up{
padding-top: 15%;
font-weight: bold;
text-align: justify;
padding-left: 40px;
}

.Container_Mid{
box-shadow: 5px 15px 21px 0px #050505;
padding: 10px;
display: flex;
}

.L_Side{
/* border: 5px solid #1C6EA4; */
float: left; width: auto;
padding-left: 30px;
}

.R_Side{
/* border: 5px solid red; */
/*horizontal items*/
float: right; width: auto;
padding-left: 50px;
}

#F_Name:hover,#E_MAIL:hover,#P_Pass:hover,
#L_NAME:hover,#P_Phone:hover,#P_Confirm:hover
{
border-color: #5A1DBE;
}




/*--- Container Low*/

.Container_Low{
background-color: #F9FAFB;
margin-top: 30px;
height: 46.2%;

}

.S_button{
margin-top: 10vh;
margin-left: 5vw;
background-color: #580F38;
border-radius: 25px;
text-decoration:none;
padding:21px 64px;
color: white;
font-weight: bold;
}

.S_button:hover{
background-color: #BE25BF
}

.S_button:active{
position: relative;
top: 3px;
}

.A_account, .L_Log{
margin-top: 7vh;
margin-left: 7vw;
}

.L_Log{
color: green;
font-weight: bold;
}

