/*  style.css */
.body {
   /* max-width: 500px;
    margin: auto; */ 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.header {
    background-color: #1f2937;
    display: flex;
    padding: 20px 300px 50px 300px;
        flex-wrap: wrap;   
  
}

/*
.card1 {
    display: flex;
    align-items: flex-start;
   
    
    border-color: red;
    border-style: solid;

}
*/


ul {
    list-style-type: none;
}

a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
  }

  
.links {
    display: flex;
    flex: auto;
    gap: 18px;
  
  }



.text-1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.text-1, .text-2 {
    color: #e5e7eb;
  }
.logo {
    width:100px;
    height:50px;
}

.img-placeholder {
    width: 300px;
    height: 100px;

}

.SignUp-1 {
    font-family: Roboto, sans-serif;
    background-color: #3882f6;
    border-radius: 8px;
    color: #f9faf8;
    padding: 10px 10px;
    font-weight: bold;
    border: none;
}