body, html {
  height: 100%;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 50px 150px; 
  grid-template-rows: 50px 50px (auto-fill 250px) 50px; 
  gap: 15px;
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
      grid-column-start: 1;
      grid-column-end: 5;
   /*   grid-row-start: 1;
      grid-row-end: 1; */
  background-color: #FFDE22;
}

.sidebar {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 4;
  background-color: #FF7755;
}

.nav {
  grid-column-start: 3;
  grid-column-end: 5;
     /* grid-column-start: 3;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 5; */

  background-color: #00DDFF;
}

.article {
  grid-column-start: 3;
  grid-column-end: 5;
  background-color: #bccbde;
}

.article p {
  grid-row-start: 3;
  grid-row-end: 4;
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.footer {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 4;
      grid-row-end: 5;
  background-color: #393f4d;
}
