/* Style File*/

body, html {
    height: 100%;
    margin: 0;
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    font-family: 'Roboto', sans-serif;

}





.container{
    display: grid;
    grid-template-columns: minmax(auto,230px) 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
/*----SIDE BAR LEFT----*/
.SideBar_Up{
background-color: #1992D4;
grid-row-start: 1;
grid-row-end: 3;
color: white;
font-weight: bold;
}
.SideBarLinks ul li{
    display: flex;
    list-style: none;
    gap: 1rem;
}

/*--------------------*/


/*-----HEADER--------*/
.H_Header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: aqua;
    grid-column-start: 2;
    grid-column-end: 4;
}

.B_Button{
    justify-content: center;
    background-color: #1992D4;
    color: white;
    border-radius: 20px;
    border-style: none;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 15px;
}
.Header_1{
    display: inline-block; 
    margin-left: 5%;
    margin-top: 5%;
    
}
.S_SearchBox{
    border-radius: 20px;
    border-width: 0px;
    width: 80%;
    background-color: #E2E8F0;
  
}

.S_SearchBox:focus {
   outline: none;
}

.Header_3{
    margin-left: 20px;
}

.T_Hello p {
    text-align: left;
    font-size: 10px;
    
}

.T_Account p {
    text-align: left;
    font-weight: bold;
    font-size: 25px;
    }

.User_Img{
    width: 70px;
    height: 70px;
    border-radius: 100px;
    float: left;
    margin-right: 25px;
    box-shadow: 5px 5px 15px 5px #000000;
}



/*------------------*/


/*---CENTER---------*/
.C_Center{
    background-color: blueviolet;
}
/*------------------*/




/*---R_Bar----------*/
.R_Bar{
    background-color: brown;
}
/*------------------*/
